*.class

# Package Files #
*.war
*.ear
/build
/eclipse
/bin

*.mtl
*.classpath
*.project
/.gradle
/.settings
/libs
*.bat
Waila.iws
Waila.ipr
Waila.iml

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.shelf
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr
*.iws
