*.class

# Package Files #
*.war
*.ear
/build
/eclipse
/bin

*.mtl
*.classpath
*.project
/.gradle
/.settings
/libs
*.bat
Waila.iws
Waila.ipr
Waila.iml

# User-specific stuff
.idea
.shelf
*.iml
*.ipr
*.iws
out/
run/
